<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image" alt="Random slide">
    </ng-template>
  </ngb-carousel>
  <hr>
</div>