<div class="card">
  <img class="card-img-top" src="../../../../content/images/blogs/dummy.jpg" alt="Card image cap">
  
  <div class="card-body">
    <div class="row">
      <div class="col-sm-10"><h5 class="card-title">Card title that wraps to a new line</h5></div>
      <div class="col-sm-2 numComments"><span class="badge badge-primary">5</span></div>
    </div>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
      This content is a little bit longer.</p>
  </div>
</div>