.mobile-app{
    padding-top: 50px;
    padding-left: 150px;
}

.coming-soon{
    font-size: 72px;
    font-weight: 700;
    color: #2F8AF7;
}

.subheading{
    font-size: 16px;
    font-weight: 700;
    color: #2F8AF7;
}

.appimage{
    transform: rotate(-20deg);
}

.appimage > img{
    width: 60%;
    height: auto;
}

.downloads > img{
    width: 70px;
    height: auto;
    margin: 20px;
}