<div class="mobile-app">
  <div class="row">
    <div class="col-sm-6">
      <span class="coming-soon"> Coming Soon!</span>
      <div>
          <span class="subheading">Stay tuned! We are about to launch our new app which brings <br/>Marcot Martime's user experience right on your
              finger tips.</span>
      </div>
    </div>
    <div class="col-sm-6 appimage">
      <img src="../../../content/images/mobileapp/mobilephone.jpg">
    </div>
  </div>
  <div class="downloads">
    <img src="../../../content/images/mobileapp/appstore.png"><img src="../../../content/images/mobileapp/playstore.png">
  </div>
</div>