<nav class="navbar fixed-top navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <!-- <span class="navbar-title">Maritimefrontend</span> <span class="navbar-version">{{version}}</span> -->
        </a>
    </div>
    <div class="navbar-collapse collapse main-menu-nav" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
        [ngSwitch]="isAuthenticated()">
        <div class="main-menu-container">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('home')" scrollTo="home" duration="1200" [ngClass]="{'active': linkClicked === 'home'}" >
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Home</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('services')" scrollTo="services" duration="1200" [ngClass]="{'active': linkClicked === 'services'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Services</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('forums')" scrollTo="forums" duration="1200" [ngClass]="{'active': linkClicked === 'forums'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Forums</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('blogs')" scrollTo="blogs" duration="1200" [ngClass]="{'active': linkClicked === 'blogs'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Blogs</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('tools')" scrollTo="tools" duration="1200" [ngClass]="{'active': linkClicked === 'tools'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Ebooks</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('mobileapps')" scrollTo="mobileapps" duration="1200" [ngClass]="{'active': linkClicked === 'mobileapps'}"> 
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>App</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('aboutus')" scrollTo="aboutus" duration="1200" [ngClass]="{'active': linkClicked === 'aboutus'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>About</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar('contactus')" scrollTo="contactus" duration="1200" [ngClass]="{'active': linkClicked === 'contactus'}">
                        <span>
                            <fa-icon [icon]=""></fa-icon>
                            <span>Contact</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="inrow-search row">
        <input type="text" class="search-text" placeholder="Search"><a href="#" class="btn btn-info search-btn" role="button">Search</a>
    </div>
</nav>