/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc;
   
}

.jh-navbar {
    padding: 0.2em 1em;
    background: #222;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active,
.jh-navbar .dropdown-item.active:focus,
.jh-navbar .dropdown-item.active:hover {
    background-color: #114481;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    background: url('../../../content/images/logo/logo.png') no-repeat center center;
    background-size: contain;
    width: 100%;
}

.inrow-search{
    padding: 20px;
}

.search-text{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid grey;
    width: 50%;
    margin-right: 10px;
    
}

.search-text:focus{
    outline: none;
}

.main-menu{
    float: none;
    text-align: center;
}

.main-menu > li{
    float: none;
    display: inline-block;
}

.main-menu-container{
   margin: auto;
}

.search-btn{
    background: #2F8AF7;
    width: 120px;
}

.inrow-search >input{
    padding-left: 5px;
}

.active{
    color:#114481;
}