<div class="container-fluid main-window">
    <div class="row home" id="home">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <div class="main-img">
                <img src="../../content/images/services/consult.png" width="150" height="150">
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="center-content">
        <div class="row">
            <div class="col-sm-12">
                <h3>Booking our passage to the future.</h3>
                <span>Mascot Maritime is your navigator in the world of trade, an equipment you can count on and gets
                    seafarers globally connected.</span>
            </div>
        </div>

        <div class="row btn-div">
            <div class="col-sm-12">
                <div class="">
                    <button type="button" class="btn btn-lg btn-info main-page-btn" routerLink="register"
                        routerLinkActive="active">REGISTER NOW</button>
                    <button type="button" class="btn btn-lg btn-info main-page-btn" (click)="login()">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="floating-panel-home ml-auto">
                <ul>
                    <li><img src="../../content/images/floating-icons/clock.gif" class="floating-img"><span>World Clock</span></li>
                    <li><img src="../../content/images/floating-icons/currency2.png" class="floating-img"><span>Currency
                            Calculator</span></li>
                    <li><img src="../../content/images/floating-icons/calendar.gif" class="floating-img"><span>Days
                            Calculator</span></li>
                    <li><img src="../../content/images/floating-icons/calculator.gif" class="floating-img"><span>NRE
                            Days
                            Calculator</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Services section starts -->

    <div class="services-container" id="services">
        <div class="services-header">
            <div class="overlay"></div>
            <h2>Why Mascot Maritime ?</h2>
            <div class="row services-header-content">
                <div class="col-sm-8 col-xs-11">
                    <span class="description">By integrating our strategic designers, sophisticated software
                        developers, and advanced engieers into
                        your business, we are as connected as your future is. Bring us your complex challenges today
                        and your vision
                        tomorrow. We'll bring incredible talent, deep collaboration and fresh perspective to build your
                        opportunities
                        for growth</span>
                </div>
                <div class="col-sm-4 col-xs-1"></div>
            </div>
            <div class="learn-more-button">
                <a href="#" class="btn btn-info learn-more-button">Learn More</a>
            </div>
        </div>
        <div class="services-info">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-sm-6 services-info-header-text pull-left">
                    <h2>Our Services</h2>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-info services-info-header-btn">Know More</a>
                </div>
            </div>
        </div>
        <div class="services-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/sale.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Sale & Purchase</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/charter.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Chartering</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/agency.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Ship Agency</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/sale.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Shipping Data</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/consult.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Marine Consulting & Surveying</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/sale.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Terms & Links</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div class="">
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/sale.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Tools</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card services-card">
                        <div>
                            <img class="card-img-top-blog rounded-circle" src="../../content/images/services/broking.png"
                                alt="Card image cap"></div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Ship Broking</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-footer">
            <img src="../../content/images/services/services-footer.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="floating-panel-services ml-auto">
                <hr>
                <span>ABOUT US</span>
                <h4>Ship Broking made simple.</h4>
                <div class="read-more-button">
                    <a href="#" class="btn btn-info read-more-button">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Blogs Section Start -->
    <div class="blogs" id="blogs">
        <div class="row blog-heading">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>The Mariner's Blog</h3>
            </div>
            <div class="col-sm-3"><a href="#" class="btn btn-info postBtn">POST A BLOG</a></div>
        </div>

        <div class="row blog-sub-heading">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h5>Now mariner's can share their experience, knowledge and idea through our blogging platform. <br />Put
                    your thoughts into a blog and reach out to globally connected mariners.</h5>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row blog-sub-heading">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 search-bar form-group">
                <input type="text" class="search-text form-control input-lg" placeholder="Search">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="blog-summary row">
            <div class="col-sm-2"></div>
            <div class="card-columns col-sm-8">
                <div class="card border">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">2</span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">6</span></div>
                        </div>
                    </div>
                </div>
                <div class="card border">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">3</span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">4</span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">1</span></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../content/images/blogs/dummy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <blockquote>
                                    <h5 class="card-title">Card title that wraps to a new line</h5>
                                    <footer>Author Name</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-2 numComments"><span class="badge badge-primary">8</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 blog-footer-div">
                <a href="#" class="btn btn-info btn-footer">READ MORE BLOGS</a>
            </div>
        </div>
    </div>

    <!-- Mobile Apps -->
    <div class="mobile-app" id="mobileapps">
        <div class="row mobile-app-inner">
            <div class="col-sm-7 pull-right">
                <span class="coming-soon"> Coming <br />Soon!</span>
                <div>
                    <span class="subheading">Stay tuned! We are about to launch our new app which brings <br />Marcot
                        Martime's user experience right on your
                        finger tips.</span>
                </div>
            </div>
            <div class="col-sm-5 appimage">
                <img src="../../content/images/mobileapp/mobilephone.jpg">
            </div>
        </div>
        <div class="downloads">
            <img src="../../content/images/mobileapp/appstore.png"><img src="../../content/images/mobileapp/playstore.png">
        </div>
    </div>

    <!-- Contact Us Section Starts -->

    <div class="row contactus" id="contactus">
        <div class="col-sm-6">
            <div class="inner-div ml-auto">
                <h4>Contact Details</h4>
                <h6>Manchester Road - 123789</h6>
                <h6>Vishakapatnam</h6>
                <h6>Andhra Pradesh</h6>
                <h6>India</h6>
                <h6>Phone : +123 456 7890</h6>
                <h6>Email: abc@mm.com</h6>
            </div>
        </div>
        <div class="col-sm-6 form-contact">
            <h5>How can we help you ?</h5>
            <h5>Drop us a line</h5>
            <form>
                <div class="form-group">
                    <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="subject" class="form-control" id="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea type="message" class="form-control" id="message" placeholder="Message..."></textarea>
                </div>
                <div class="form-group submitBtn">
                    <button type="submit" class="btn btn-default">SUBMIT</button>
                </div>
            </form>

        </div>
    </div>
    <!-- https://mdbootstrap.com/angular/advanced/smooth-scroll/ - for smooth scroll-->
</div>