/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}


.jh-card{
    padding: none;
    margin: none;
    border:none !important;
}

.main-window{
    padding: 100px 0px !important;
    min-height:100%;
    position:relative;
}

.main-img{
    margin: auto;
    width: 100%;
    padding: 50px 10px 10px 10px;

}

.center-content{
    padding-top: 80px;
    text-align: center;
}

.main-page-btn{
    margin:50px 20px 20px 20px;
    width: 250px;
    background: #2F8AF7;
}

.btn-div{
    padding-top: 50px;
}

.floating-panel-home{
    width:250px;
    padding-right: 10px;
}

.floating-panel-home > ul > li {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #2F8AF7;
    border-radius: 3pt;
}

.floating-panel-home > ul{
    list-style: none;
}

.floating-img{
    width:25px;
    height: 25px;
    margin-right: 10px;
}


.home{
    padding-top:120px;
}
/* services  */
.services-container{
    padding: 0px;
    padding-top: 84px;
    margin-top: 50px;
}

.services-header{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../content/images/services/services-header.jpg') no-repeat; 
    background-position: center center;
    background-size: cover;
    padding: 30px;
    height: 300px;
    color: white;
    font-weight: 500;
    display: block;
    position: relative;
}

.learn-more-button{
    margin: 10px 10px 10px 0px;
    color:#2F8AF7;
    border-color: #2F8AF7;
    background: none;
}

.services-info{
    width: 85%;
    position: relative;
    left: 100px;
    top: -25px;
    height: 100px;
    background-color: #04033F;
}

.services-info-header-text{
    color: white;
    margin-top: 30px;
    margin-left: 0px;
}

.services-info-header-btn{
    margin-top: 30px;
    margin-left: 0px;   
    background: #2F8AF7;
}
.services-info::after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: solid 50px #04033F;
    border-left: solid 120px transparent;
    border-right: solid 0px transparent;
}

.services-body{
    margin-right: 30px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.services-card{
    width: 90%;
    height: 90%;
    margin-bottom: 100px;
    padding: 5px;
    text-align: center;
    border: none;
}

.card-title{
    word-break: normal;
    word-wrap:break-word;
}

.card-img-top-blog{
    width:100px;
    height: 100px;
    line-height: 100px;

    display: block;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: grey;
    color: red;
    font-size: 2em;

    margin: auto;
}

.card-img-top{
    max-width:100%;
    max-height: 100px;
}
.floating-panel-services{
    position: relative;
    bottom: 200px;
    width: 250px;
    height: 250px;
    background: #04033F;
    padding: 10px;
    margin-right: 20px;
}

.floating-panel-services > span{
    color: #2F8AF7;
    font-weight: 500;
    margin-left: 10px;
}

.floating-panel-services > hr{
    margin-top:4px;
    margin-bottom: 4px;
    border-top: 2px solid #2F8AF7;
    width: 50%;
    margin-left: 10px;
}

.floating-panel-services > h4{
    margin-top:20px;
    margin-bottom: 4px;
    margin-right: 40px;
    margin-left: 10px;
    color:white;
}
.read-more-button{
    background: none;
    color:#2F8AF7;
    border-color: #2F8AF7;
    bottom: 10px;
    position: absolute;
    margin-left: 5px;
}

.main-window{
    overflow: hidden;
}

/* blogs */
.blog-heading{
    font-weight: 700;
    padding-top:120px;
    text-align: center;
    color:#2F8AF7;
}

.postBtn{
    background: #2F8AF7;
}


.blog-sub-heading{
    font-weight:500px;
    text-align: center;
    padding-top: 50px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.search-bar{
    text-align: left;
}

.search-text{
    width: 50% !important;
}

jhi-summary{
    margin: 10px;
}

.blog-footer-div{
    text-align: center;
    margin: 20px;
}

.btn-footer{
    background: none;
    color: #2F8AF7;
    border-color: #2F8AF7;
}
.blog-summary{
    margin-top: 20px;
}


/* mobile app */
.mobile-app{
    padding-top:120px;
    text-align: center;
    min-height: 1080px;
}

.coming-soon{
    font-size: 72px;
    font-weight: 700;
    color: #2F8AF7;
}

.subheading{
    font-size: 16px;
    font-weight: 700;
    color: #2F8AF7;
}

.appimage{
    text-align: left;
}
.appimage > img{
    width: 40%;
    height: auto;
}

.downloads > img{
    width: 70px;
    height: auto;
    margin: 20px;
}

.mobile-app-inner{
    padding-right: 0em;
}

/** contact us **/
.contactus{
    padding-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.address{
    text-align: center;
}

.inner-div{
    text-align: left;
    width: 50%;
    color: #2F8AF7;
}
.address > h6{
    color: #2F8AF7;
}

.address > h4{
    color: #2F8AF7;
}

.form-contact > h5{
    color: #2F8AF7;
    text-align: left;
}

.form-group > input{
    width: 200px;
}


.form-group > textarea{
    width: 300px;
}

.submitBtn {
    text-align: left;
}

.submitBtn > button{
    background: #2F8AF7;
    color: white;
}

.footer{
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background: #222222;
}