<div class="blogs">
  <div class="row blog-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h3>The Mariner's Blog</h3>
    </div>
    <div class="col-sm-3"><a href="#" class="btn btn-info postBtn">POST A BLOG</a></div>
  </div>

  <div class="row blog-sub-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h5>Now mariner's can share their experience, knowledge and idea through our blogging platform. Put your
        thoghts into a blog and reach out to globally connected mariners.</h5>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="blog-summary row">
    <div class="col-sm-2"></div>
    <div class="card-columns col-sm-8">
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
      <jhi-summary></jhi-summary>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-12 blog-footer-div">
      <a href="#" class="btn btn-info btn-footer">READ MORE BLOGS</a>
    </div>
  </div>
</div>