.blog-heading{
    font-weight: 700;
    padding-top: 40px;
    text-align: center;
    color:#2F8AF7;
}

.postBtn{
    background: #2F8AF7;
}

.blog-sub-heading{
    font-weight:500px;
    text-align: center;
    padding-top: 50px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

jhi-summary{
    margin: 10px;
}

.blog-footer-div{
    text-align: center;
    margin: 20px;
}

.btn-footer{
    background: none;
    color: #2F8AF7;
    border-color: #2F8AF7;
}
.blog-summary{
    margin-top: 80px;
}