<div class="row contactus">
  <div class="col-sm-6 form-contact">
    <h5>How can we help you ?</h5>
    <h5>Drop us a line</h5>
    <form>
      <div class="form-group">
        <input type="name" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="subject" class="form-control" id="subject" placeholder="Subject">
      </div>
      <div class="form-group">
          <textarea type="message" class="form-control" id="message" placeholder="Message..."></textarea>
        </div>
      <button type="submit" class="btn btn-default">SUBMIT</button>
    </form>

  </div>
  <div class="col-sm-6 address">
    <h4>Contact Details</h4>
    <h6>Manchester Road - 123789</h6>
    <h6>Vishakapatnam</h6>
    <h6>Andhra Pradesh</h6>
    <h6>India</h6>

    <h6>Phone : +123 456 7890</h6>

    <h6>Email: abc@mm.com</h6>
  </div>
</div>
<div class="row footer">
  <div class="col-sm-4">sdfdsfdsf</div>
  <div class="col-sm-4">sdfdsfds</div>
  <div class="col-sm-4">sdfdsfds</div>
</div>