.contactus{
    margin-top: 100px;
    padding-left: 150px;
}

.address > h6{
    color: #2F8AF7;
}

.address > h4{
    color: #2F8AF7;
}

.form-contact > h5{
    color: #2F8AF7;
}

.form-group > input{
    width: 200px;
}


.form-group > textarea{
    width: 500px;
}


form > button{
    background-color: #2F8AF7;
    color: white;
}

.footer{
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background: #222222;
}