.services-container{
    padding: 0px;
}

.services-header{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../../content/images/services/services-header.jpg') no-repeat; 
    background-position: center center;
    background-size: cover;
    padding: 30px;
    height: 300px;
    color: white;
    font-weight: 500;
    display: block;
    position: relative;
}

.learn-more-button{
    margin: 10px 10px 10px 0px;
    color:#2F8AF7;
    border-color: #2F8AF7;
    background: none;
}

.services-info{
    position: absolute;
    top: 270px;
    left: 150px;
    width: 85%;
    height: 100px;
    background-color: #04033F;
}

.services-info-header-text{
    color: white;
    margin-top: 30px;
    margin-left: 0px;
}

.services-info-header-btn{
    margin-top: 30px;
    margin-left: 0px;   
    background: #2F8AF7;
}
.services-info::after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: solid 50px #04033F;
    border-left: solid 120px transparent;
    border-right: solid 0px transparent;
}

.services-body{
    margin-top:150px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.services-card{
    width: 100%;
    height: 150px;
    margin: 10px;
}
.card-title{
    word-break: normal;
    word-wrap:break-word;
}
.floating-panel{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 250px;
    height: 250px;
    background: #04033F;
    padding: 10px;
}

.floating-panel > span{
    color: #2F8AF7;
    font-weight: 500;
    margin-left: 10px;
}

.floating-panel > hr{
    margin-top:4px;
    margin-bottom: 4px;
    border-top: 2px solid #2F8AF7;
    width: 50%;
    margin-left: 10px;
}

.floating-panel > h4{
    margin-top:20px;
    margin-bottom: 4px;
    margin-right: 40px;
    margin-left: 10px;
    color:white;
}
.read-more-button{
    background: none;
    color:#2F8AF7;
    border-color: #2F8AF7;
    bottom: 10px;
    position: absolute;
    margin-left: 5px;
}

.main-window{
    width: 100%;
    height: 99% !important;
    overflow: auto;
    padding-right: 15px;

}