<div class="services-container" id="services">
  <div class="services-header">
    <div class="overlay"></div>
    <h2>Why Mascot Maritime ?</h2>
    <div class="row services-header-content">
      <div class="col-sm-8 col-xs-11">
        <span class="description">By integrating our strategic designers, sophisticated software developers, and advanced engieers into
          your business, we are as connected as your future is. Bring us your complex challenges today and your vision
          tomorrow. We'll bring incredible talent, deep collaboration and fresh perspective to build your opportunities
          for growth</span>
      </div>
      <div class="col-sm-4 col-xs-1"></div>
    </div>
    <div class="learn-more-button">
      <a href="#" class="btn btn-info learn-more-button">Learn More</a>
    </div>
  </div>
  <div class="services-info">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-6 services-info-header-text pull-left">
        <h2>Our Services</h2>
      </div>
      <div class="col-sm-4">
        <a href="#" class="btn btn-info services-info-header-btn">Know More</a>
      </div>
    </div>
  </div>
  <div class="services-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Sale & Purchase</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Chartering</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Ship Agency</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Shipping Data</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Marine Consulting & Surveying</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Terms & Links</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Tools</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card services-card">
          <div class="card-body text-center">
            <h5 class="card-title">Ship Broking</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services-footer">
    <img src="../../../content/images/services/services-footer.jpg">
  </div>
</div>
<div class="floating-panel">
  <hr>
  <span>ABOUT US</span>
  <h4>Ship Broking made simple.</h4>
  <div class="read-more-button">
    <a href="#" class="btn btn-info read-more-button">Read More</a>
  </div>

</div>